@charset "UTF-8";
select{
	padding:3px 3px;
	font-size: 16px;
	border:none;
	outline:0;
}

.input_name{
    height: 22px;
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    border:none;
    outline: 0;
    width: 400px;
}

#writeTable{
	align-content:center;
	border: 1;
	width: 500px;
	height: 600px;
	border-color: "#000000";
}
#wtiteName{
	height: 25px;
}
#writeContent{
	resize: none;
	width: 400px;
	height: 400px;
	font-size: 20px;
	border: none;
	outline: 0;
}
